# Ignore the build directory and compiled binaries
bin
build*/
examples/drake-ompl/build

# Ignore temp files
temp/
.temp*

# Ignore saved networks
*.pt

# Ignore log files
*.log
*.png
*.pickle
*.csv

# Ignore data files by default
*.bin
*.json
*.mpac

# Ignore extraneous files 
*~
*.bak*
*.pyc
*.swp
*DS_Store
*snopt.out
*.ipynb_checkpoints

# Ignore development environment markers
.python-version
/.idea/
