# Ignore the example directory for robot URDFs
robots/

# Ignore the build directory and compiled binaries
bin
build*/
lcmtypes/stuffgetter

# Ignore temp files
examples/data/
temp/
.temp*

# Ignore saved networks
*.pt

# Ignore log files
*.log
*.png
*.pickle
utils/vae/figs
*.log
*.csv

# Ignore data files by default
*.bin
*.json
*.mpac

# Ignore extraneous files 
*~
*.bak*
*.pyc
*.swp
*DS_Store
*snopt.out
*.ipynb_checkpoints

# Ignore development environment markers
.python-version
